* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
    background-image: url(/images/blossom-blur-close-up-dandelion-289323.jpg);
    background-size: cover;
    background-position: center;
    height: 60vh;
    margin-bottom: 1%;
}

h1 {
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 380%;
  font-weight: 300;
  letter-spacing: 3px;
  margin-left: 3%;
  padding-top: 6%;
  color: #fff;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.container div {
    padding: 10px;
}

.box {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  padding: 20px 50px;
  font-size: 100%;
  letter-spacing: 1px; 
  font-family: 'Montserrat', Arial, sans-serif;
  text-transform: uppercase; 
  border: 1px solid #6a7b4e;
  border-radius: 75px;
  background-color: #6a7b4e;
  color: #fff;
   
  outline: none;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

button:hover {
  background-color: #506134;
  border: 1px solid #506134;
  cursor: pointer;
}

p {
  margin-top: 30px;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  line-height: 145%;
  font-size: 120%;
  font-family: 'Montserrat', Arial, sans-serif;
}

p .name {
  font-weight: 200;
}

footer {
  margin-top: auto;
}

footer .disclaimer {
  margin-left: 45px;
  color: #6a7b4e;
}
